In [2]:
!pip install pandas

Requirement already satisfied: pandas in ./venv/lib/python3.10/site-packages (2.0.2)
Requirement already satisfied: numpy>=1.21.0 in ./venv/lib/python3.10/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in ./venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [3]:
import pandas as pd

1. Загрузите ваш DataFrame в переменную df и выведете на экран первые пять строк

In [4]:
df = pd.read_csv('googleplaystore(1).csv')

2. Отобразите количество строк и столбцов в DataFrame

In [5]:
df.shape

(10841, 13)

In [76]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [7]:
df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10675,Circle Colors Pack-FN Theme,PERSONALIZATION,4.2,6,89k,50+,Paid,0.99,Everyone,Personalization,"August 9, 2013",1.0,2.2 and up
6216,Grabo.bg,SHOPPING,4.6,8175,3.2M,"100,000+",Free,0.00,Everyone,Shopping,"April 5, 2018",3.2.3,4.0.3 and up
1210,9th stage,FOOD_AND_DRINK,4.5,454,16M,"100,000+",Free,0.00,Everyone,Food & Drink,"March 28, 2018",2.0.0,4.0.3 and up
59,"REG - Check the regnumber, find information ab...",AUTO_AND_VEHICLES,3.9,3971,3.6M,"100,000+",Free,0.00,Everyone,Auto & Vehicles,"July 30, 2018",2.493,4.4 and up
7837,DU CS Lectures - Learn to Code for Free,FAMILY,4.8,16,7.8M,100+,Free,0.00,Everyone,Education,"July 29, 2018",4.0,4.1 and up

3. Выведете основную информацию о DataFrame методом info(). Проанализируйте есть ли пропуски в столбцах. Напишите вывод о том, какие столбцы содержат пропуски

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

Проуски содержат такие столбцы, как Rating, Content Rating(1 пропуск), Current Ver, Android Ver

4. Удалите или замените пропуски известными вам методами. (Подсказка: dropna() или fillna(), выбор того или иного метода должен быть аргументирован).

In [13]:
df = df.dropna(axis=0)

5. Проверьте нет ли пропусков после произведенной обработки

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9360 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9360 non-null   object
 1   Category        9360 non-null   object
 2   Rating          9360 non-null   float64
 3   Reviews         9360 non-null   object
 4   Size            9360 non-null   object
 5   Installs        9360 non-null   object
 6   Type            9360 non-null   object
 7   Price           9360 non-null   float64
 8   Content Rating  9360 non-null   object
 9   Genres          9360 non-null   object
 10  Last Updated    9360 non-null   object
 11  Current Ver     9360 non-null   object
 12  Android Ver     9360 non-null   object
dtypes: float64(2), object(11)
memory usage: 1023.8+ KB

Все значения Nan удалены и датасет перезаписан

6. Выведите на экран минимум и максимум из столбца `Price`:

In [25]:
df.min()['Price']

0.0

In [26]:
df.max()['Price']

400.0

7. Выведите на экран медиану и среднее арифметическое столбцов:
 - Rating
 - Reviews

In [28]:
df.describe()

            Rating        Price
count  9360.000000  9360.000000
mean      4.191838     0.961279
std       0.515263    15.821640
min       1.000000     0.000000
25%       4.000000     0.000000
50%       4.300000     0.000000
75%       4.500000     0.000000
max       5.000000   400.000000

In [38]:
df['Rating'].median()

4.3

In [39]:
df['Reviews'].median()

5955.0

In [40]:
df['Rating'].mean()

4.191837606837606

In [41]:
df['Reviews'].mean()

inf

8. Выведите на экран все уникальные значения категориального столбца Genres

In [42]:
df['Genres'].unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Auto & Vehicles', 'Beauty',
       'Books & Reference', 'Business', 'Comics', 'Comics;Creativity',
       'Communication', 'Dating', 'Education;Education', 'Education',
       'Education;Creativity', 'Education;Music & Video',
       'Education;Action & Adventure', 'Education;Pretend Play',
       'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Brain Games',
       'Parenting;Education', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Lifestyle;Education', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Brain Games',
       'Strategy;Education', 'Racing;Pretend Play',
       'Communication;Creativity', 'Strategy;Creativity'], dtype=object)

9. Сгруппируйте данные по столбцу `Genres` и посчитайте для каждого жанра средний и медианный рейтинг. Представьте результат в виде нового DataFrame,который будет сохранен в переменную `grouped_df`, где одна колонка будет содержать названия жарнов, а две другие буду содержать в себе средний и медианный рейтинги. Напишите краткий вывод.

In [77]:
df.pivot_table(index='Genres', values=['Rating'], aggfunc=['mean', 'median'])

                                           mean median
                                         Rating Rating
Genres
Action                                 4.279370    4.3
Action;Action & Adventure              4.313333    4.3
Adventure                              4.180822    4.3
Adventure;Action & Adventure           4.423077    4.5
Adventure;Brain Games                  4.600000    4.6
...                                         ...    ...
Video Players & Editors                4.063924    4.2
Video Players & Editors;Creativity     4.100000    4.1
Video Players & Editors;Music & Video  4.000000    4.0
Weather                                4.244000    4.3
Word                                   4.396296    4.4

[115 rows x 2 columns]

Вывод: чаще всегом медианные значения и средние близки. Однако медианные значения не требуют округления, поэтому данные значения удобнее использовать для дальнейших расчетов.

In [99]:
grouped_df = df.groupby(by='Genres', as_index=False)['Rating'].agg(['median', 'mean'])

In [100]:
grouped_df

                                    Genres  median      mean
0                                   Action     4.3  4.279370
1                Action;Action & Adventure     4.3  4.313333
2                                Adventure     4.3  4.180822
3             Adventure;Action & Adventure     4.5  4.423077
4                    Adventure;Brain Games     4.6  4.600000
..                                     ...     ...       ...
110                Video Players & Editors     4.2  4.063924
111     Video Players & Editors;Creativity     4.1  4.100000
112  Video Players & Editors;Music & Video     4.0  4.000000
113                                Weather     4.3  4.244000
114                                   Word     4.4  4.396296

[115 rows x 3 columns]

10. Из получившегося датафрейма выведите на экран только те жанры, чей медианный рейтинг больше 4.5. Напишите краткий вывод.

In [106]:
grouped_df.loc[(grouped_df['median']  >= 4.5)]

                            Genres  median      mean
3     Adventure;Action & Adventure     4.5  4.423077
4            Adventure;Brain Games     4.6  4.600000
7        Arcade;Action & Adventure     4.5  4.350000
8              Arcade;Pretend Play     4.5  4.500000
10         Art & Design;Creativity     4.7  4.400000
17              Board;Pretend Play     4.8  4.800000
18               Books & Reference     4.5  4.347458
27              Casual;Brain Games     4.5  4.469231
33               Comics;Creativity     4.8  4.800000
46         Educational;Brain Games     4.5  4.216667
53        Entertainment;Creativity     4.6  4.533333
57                          Events     4.5  4.435556
60                Health & Fitness     4.5  4.261450
62      Health & Fitness;Education     4.7  4.700000
72             Music;Music & Video     4.6  4.533333
74                       Parenting     4.5  4.340000
85                Puzzle;Education     4.6  4.600000
88             Racing;Pretend Play     4.5  4.500000
95   Simulation;Action & Adventure     4.5  4.430000
102    Strategy;Action & Adventure     4.6  4.600000
104             Strategy;Education     4.5  4.500000
106                Tools;Education     4.5  4.500000

11. Выведете кол-во дубликатов в основном DataFrame (df) и удалите их

In [73]:
df.drop_duplicates()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FR Calculator,FAMILY,4.0,7,2.6M,500+,Free,0.0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0.0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0.0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0.0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0.0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

12. Посчитатайте какое количество приложений содержится в каждом жанре (value_counts).В получившемся Series выведите на экран 10 строк с наибольшим количеством приложений отсортированных по убыванию.

In [107]:
s = df.value_counts(df.App)

In [108]:
s

App
ROBLOX                                              9
8 Ball Pool                                         7
Helix Jump                                          6
Bubble Shooter                                      6
Zombie Catchers                                     6
                                                   ..
Dr. Parking 4                                       1
Dr. Parker : Real car parking simulation            1
Dr. Parker : Parking Simulator                      1
Dr. Panda's Swimming Pool                           1
🔥 Football Wallpapers 4K | Full HD Backgrounds 😍    1
Name: count, Length: 8190, dtype: int64

Вывод: Самое популярное приложение Roblox.